@{ 
    ViewBag.title = "Access Denied";
      Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h6 class="text-danger">اجازه دسترسی به این صفحه را ندارید</h6>
        <img src="~/infrastructure/media/images/noaccess.jpg" alt="Alternate Text" />
    </div>
